<!doctype html>
<html>
    <head>
        <title>Hello ASP.NET MVC Core</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="~/css/site.css">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>